disk-service/HELP.md
disk-service/target/
disk-service/!.mvn/wrapper/maven-wrapper.jar
disk-service/!**/src/main/**/target/
disk-service/!**/src/test/**/target/
order-service/HELP.md
order-service/target/
order-service/!.mvn/wrapper/maven-wrapper.jar
order-service/!**/src/main/**/target/
order-service/!**/src/test/**/target/
client-service/HELP.md
client-service/target/
client-service/!.mvn/wrapper/maven-wrapper.jar
client-service/!**/src/main/**/target/
client-service/!**/src/test/**/target/
api-service/HELP.md
api-service/target/
api-service/!.mvn/wrapper/maven-wrapper.jar
api-service/!**/src/main/**/target/
api-service/!**/src/test/**/target/
discovery-service/HELP.md
discovery-service/target/
discovery-service/!.mvn/wrapper/maven-wrapper.jar
discovery-service/!**/src/main/**/target/
discovery-service/!**/src/test/**/target/
keycloak/
zipkin/
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
disk-service/.apt_generated
disk-service/.classpath
disk-service/.factorypath
disk-service/.project
disk-service/.settings
disk-service/.springBeans
disk-service/.sts4-cache
order-service/.apt_generated
order-service/.classpath
order-service/.factorypath
order-service/.project
order-service/.settings
order-service/.springBeans
order-service/.sts4-cache
client-service/.apt_generated
client-service/.classpath
client-service/.factorypath
client-service/.project
client-service/.settings
client-service/.springBeans
client-service/.sts4-cache
api-service/.apt_generated
api-service/.classpath
api-service/.factorypath
api-service/.project
api-service/.settings
api-service/.springBeans
api-service/.sts4-cache
discovery-service/.apt_generated
discovery-service/.classpath
discovery-service/.factorypath
discovery-service/.project
discovery-service/.settings
discovery-service/.springBeans
discovery-service/.sts4-cache
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
disk-service/.idea
disk-service/*.iws
disk-service/*.iml
disk-service/*.ipr
order-service/.idea
order-service/*.iws
order-service/*.iml
order-service/*.ipr
client-service/.idea
client-service/*.iws
client-service/*.iml
client-service/*.ipr
api-service/.idea
api-service/*.iws
api-service/*.iml
api-service/*.ipr
discovery-service/.idea
discovery-service/*.iws
discovery-service/*.iml
discovery-service/*.ipr
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
disk-service/nbproject/private/
disk-service/nbbuild/
disk-service/dist/
disk-service/nbdist/
disk-service/.nb-gradle/
disk-service/build/
disk-service/!**/src/main/**/build/
disk-service/!**/src/test/**/build/
order-service/nbproject/private/
order-service/nbbuild/
order-service/dist/
order-service/nbdist/
order-service/.nb-gradle/
order-service/build/
order-service/!**/src/main/**/build/
order-service/!**/src/test/**/build/
client-service/nbproject/private/
client-service/nbbuild/
client-service/dist/
client-service/nbdist/
client-service/.nb-gradle/
client-service/build/
client-service/!**/src/main/**/build/
client-service/!**/src/test/**/build/
api-service/nbproject/private/
api-service/nbbuild/
api-service/dist/
api-service/nbdist/
api-service/.nb-gradle/
api-service/build/
api-service/!**/src/main/**/build/
api-service/!**/src/test/**/build/
discovery-service/nbproject/private/
discovery-service/nbbuild/
discovery-service/dist/
discovery-service/nbdist/
discovery-service/.nb-gradle/
discovery-service/build/
discovery-service/!**/src/main/**/build/
discovery-service/!**/src/test/**/build/
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
disk-service/.vscode/
order-service/.vscode/
client-service/.vscode/
api-service/.vscode/
discovery-service/.vscode/
